GROQ_API_KEY=YOUR_GROQ_API_KEY

CHROMA_PATH=data/chroma_db
DOCUMENTS_PATH=data/documents
STORE_PATH=data/storage

MODEL_NAME=llama-3.3-70b-versatile

EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

COLLECTION_NAME=YOUR_COLLECTION_NAME

MCP_SERVER_URL = http://localhost:8000/mcp